@page
@model Imperium.Pages.InicioAdminModel
@{
    ViewData["Title"] = "XTREME | ADMINISTRACIÓN";
}
<h1>BIENVENIDO AL PANEL DE ADMINISTRACIÓN</h1>
<p>Esperamos su pronta colaboración para llevar el nombre de esta
    empresa hasta los estándares más altos</p>
