@page
@model Imperium.Pages.PortadaModel
@{
}
<center>
<h1>
    Universidad Tecnológica Metropolitana</h1><br />

    <div>
        <img src="~/img/portada.png" width="350" heigth="200" />
    </div>

    <h3>Aplicaciones Web</h3><br />
    <h3>Mtro. Oscar Josué Uh Pérez</h3><br />
        <h3>Proyecto. IMPERIUM</h3><br />

        <h4>Integrantes:</h4>
        <h4>Eduardo Antonio Caballero Pech</h4><br />
        <h4>Adrián Humberto Canto Ávila</h4><br />
        <h4>Anaeli Aniram Duran Canche</h4><br />

        <h3>Tecnologías de la Información: Área Desarrollo de Software Multiplataforma</h3><br />
        <h3>Cuatrimestre Mayo – Agosto 2021</h3><br />
        <h3>3 B Tercer Parcial</h3><br />

<h3><a asp-page="/Login">Acceder al sistema</a></h3>
    </center>

