@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<form>
    <div class="row">
        <div class="col">
            <label>First name:</label>
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <label>Lasta name:</label>
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
</form>

