@page
@model Imperium.Pages.Misions.IndexModel

@{
    ViewData["Title"] = "Misión | Administrar";
}

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        @foreach (var item in Model.Mision)
        {
            <div>
                <div class="h-100 p-5 border rounded-3">
                    <h2 class="featurette-heading">Nuestra Misión</h2>
                    <p class="lead ">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                </div>
                <br />
                <div class="text-center">
                    <a class="btn btn-dark" style="width:300px"  asp-page="./Edit" asp-route-id="@item.MisionId">Editar</a>
                </div>
            </div>
        }
    </div>
    <br />
    <div class="col-md-5 rounded-3 text-center">
        <img class="cborder bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/img/mision.jpg">
    </div>
</div>

<hr class="featurette-divider">
