@page
@model Imperium.Pages.Comentarios.CreateModel

@{
    ViewData["Title"] = "Comentar";
}

<h4>Comentario</h4>
<hr />
<div class="row">
    <div>
        <form method="post" class="text-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <textarea asp-for="Comentario.Descripcion" class="form-control"  placeholder="Escriba su comentario..." cols="40" rows="4"></textarea>
                <span asp-validation-for="Comentario.Descripcion" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Comentario.Status" class="control-label"></label>
                <input asp-for="Comentario.Status" class="form-control" />
                <span asp-validation-for="Comentario.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario.ViviendaId" class="control-label"></label>
                <select asp-for="Comentario.ViviendaId" class ="form-control" asp-items="ViewBag.ViviendaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comentario.UsuarioId" class="control-label"></label>
                <select asp-for="Comentario.UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
                -->
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-dark" /> | 
                <a asp-page="/Viviendas/Catalogo" class="btn btn-outline-dark">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
